body {
    box-sizing: border-box;
    /* background-color: #000; */
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    
    box-sizing: inherit;
    font-family: sans-serif;
}

#header {
    background-color: #313131;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 0.8em;
}

/* ========= Main Content ========= */

#main-content {
    padding: 0 2em;
}

#res-list {
    margin: 2em;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;

}

.res-card {
    width: 300px;
    height: 300px;
    border-radius: 10px;

    margin: 1em;
    padding: 10px;
}

.res-card:hover {
    box-shadow: 0px 0px 5px 5px #bdbdbd;
}

.res-img {
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.res-img>img {
    position: absolute;
    /* To make this image cover entire height of res-img -> div element */
    height: 100%;
    width: 100%;
}

/* Style child element when hover on parent */
.res-card:hover .res-img>img {
    /* Zoom-in effect */
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}


.res-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0.5em 0;
}

.res-name {
    font-size: 1.2rem;
}


.rating {
    color: #ffffff;
    display: flex;
    align-items: center;

    padding: 0.3em 0.6em;
    border-radius: 0.4em;
}

.rating>h1 {
    font-size: 0.9rem;
}

.star {
    height: 12px;
}

.cuisine {
    font-size: 0.8rem;
    margin: 0.5em 0em;
}

.res-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0.5em 0em; */
}

.res-details>h1 {
    font-size: 0.9rem;
}