/* .menu-sub-category {
    border-bottom: 2px solid rgba(87, 87, 87, 0.5);
} */


.menu-sub-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1.5em 0;
    padding-bottom: 1em;
    border-bottom: 2px solid rgba(87, 87, 87, 0.5);

    cursor: pointer;
}

.menu-sub-category-heading {
    font-size: 1.3rem;
    color: #373737;
}

.arrow-container>svg {
    height: 1.5em;
}